
/* #c10e24 red
 * #cacaca border-gray
 * #848283 text-gray
 * */
body
{
    color:#838383;
    font-family:"Segoe UI";
}

h3
{
    font-weight:bold;
    font-size: 20pt;
    line-height: 2;
    text-align:center;
}
h4
{
    font-weight:bold;
    font-size: 12pt;
    margin-bottom: 20px;
}

.bayiAdress
{
    text-align:center;
    font-size: 12pt;
}

.darker
{
    color: #555;
}

#Wrapper
{
    width:1078px;
    margin:0 auto;
}

#Header
{
    border-top: 25px solid #cacaca;
    height:244px;
    position:relative;
}

#MenuWrapper 
{
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
    height: 53px;
    text-align: center;
}

#MenuWrapper li
{
    float:left;
    margin:15px 40px;
    height: 23px;
}
#MenuWrapper a
{
    background: url('../images/graycircle.png') no-repeat center bottom;
    width: 100%;
    height: 46px;
    display: block;
    color: #838383;
    font-size: 16pt;
}
#MenuWrapper a:hover
{
    background: url('../images/redcircle.png') no-repeat center bottom;
    height:48px;
}

#MenuWrapper li.active a
{
    height:49px;
    background: url('../images/redarrow.png') no-repeat center bottom;
}

#Logo{height: 162px;}
#Logo a{background: url('../images/logo.png') no-repeat center center; height: 162px; width:291px; display:block;margin:0 auto 0}

#Iso 
{
    position: absolute;
    height: 103px;
    width: 103px;
    background: transparent url('../images/nissert.png') no-repeat 0 0;
    bottom: 60px;
    right: 20px;
}

#PageMain
{
    border: 1px solid #cacaca;
    border-top:none;
    margin: 61px 0 30px;
    padding: 0 53px;
}

#SlideShow
{
}

#SlideFrame
{
    border:1px solid #cacaca;
    padding: 15px;
}
#Slides
{
    height:321px;
    width: 617px;
    float:left;
    overflow:hidden;
}

#SlideNews
{
    width:291px;
    height: 291px;
    background-color: #c10e24;
    float:right;
    padding: 15px;
}

#SlideNews h4
{ 
    color: #bbb;
}

#SlideNews .newsList
{
    color: #fff;
}
#SlideNews .newsList li
{
    background: url('../images/liarrow.png') no-repeat 0 5px;
    padding-left: 15px;
    margin: 0;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 11pt;
    line-height:1.5;
}


#slideBottom
{
    text-align: center;
    height:62px;
    border-bottom: 1px solid #cacaca;
}

#slidePager
{
    width:100px;
    margin: 10px auto;
}

#slidePager a, #slidePager a:visited {
	float: left;
	width: 20px;
	height: 18px;
	overflow: hidden;
	background: transparent url("../images/slide-pager.jpg") no-repeat -20px 0;
	text-decoration: none;
	text-indent: -1234px;
}

#slidePager a:hover {
	background-position: -40px 0;
}

#slidePager a.activeSlide {
	background-position: 0 0;
}

ul.squareItems
{
    width:992px;
    margin-left:-11px;
}

ul.squareItems li
{
    border: 1px solid #cacaca;
    width: 201px;
    height: 223px;
    padding: 11px;
    margin:0 12px 23px 11px;
    float:left;
}

